@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&family=Poppins:wght@300&family=Questrial&display=swap');

h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  font-family: "Questrial";
}

body {
  background: #4f4f4f;
}

section {
  font-size: 64px;
  text-align: center;
  font-family: "Questrial";
}